{% extends 'base.html.twig' %}

{% block title %} QuiEtesVous
{% endblock %}

{% block body %}
	
	<section id="about" class="about">
		<div class="container">

			<div class="row no-gutters">


				<div class="col-lg-6 d-flex flex-column justify-content-center about-content">

					<div class="section-title">
						<h2>PARRAIN</h2>
							<p>S’engager activement dans le projet « Des jeunes en route vers l’emploi.»</p>
							<p>Savoir se rendre disponible dans la mesure du possible.</p>
							<p>Etablir une relation de confiance avec son filleul</p>
							<p>Valider le CV et la lettre de motivation.</p>
							<p>Aider à préparer les entretiens d’embauches.</p>
							<p>Mettre son réseau au service de son filleul.</p>
							<p>Avoir un rôle « d’appui et conseil » entre l’entreprise et son filleul</p>
							<p>Tenir informé la cellule administrative.</p>

					</div>


				</div>

				<div class="col-lg-6 video-box">
					<img src="assets/images/about.png" class="img-fluid" alt="">
				</div>
			</div>

		</div>
	</section>
	
	<section id="about" class="about">
		<div class="container">

			<div class="row no-gutters">
				<div class="col-lg-6 video-box">
					<img src="assets/images/about.png" class="img-fluid" alt="">
				</div>

				<div class="col-lg-6 d-flex flex-column justify-content-center about-content">

					<div class="section-title">
						<h2>CANDIDAT</h2>
							<p>S’engager activement dans le projet « des jeunes en route vers l’emploi</p>
							<p>Etablir une relation de confiance avec son parrain.</p>
							<p>Respecter les engagements pris lors des rendez-vous.</p>
							<p>Se souvenir que le parrain n’est pas là pour trouver seul le travail.</p>
							<p>Se souvenir que les contacts communiqués par le parrain engagent celui-ci et qu’ils doivent, à ce titre, être
								« utilisés » avec beaucoup de sérieux et en toute confidentialité.</p>
							<p>Respecter l’emploi du temps chargé du parrain et donc se rendre disponible aux heures proposées par le
								parrain.</p>
							<p>Prendre conscience que le parrain apporte la richesse de son expérience, de son travail, ainsi que sa
								disponibilité et son bénévolat pour aider son filleul à se mettre dans les meilleures dispositions possibles
								pour sa recherche d’emploi.</p>

					</div>

				</div>
			</div>

		</div>
	</section>
	
	<section id="about" class="about">
		<div class="container">

			<div class="row no-gutters">


				<div class="col-lg-6 d-flex flex-column justify-content-center about-content">

					<div class="section-title">
						<h2>ENTREPRISE</h2>
						<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
						<br>
						<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>

						<br>
						<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>

					</div>


				</div>

				<div class="col-lg-6 video-box">
					<img src="assets/images/about.png" class="img-fluid" alt="">
				</div>
			</div>

		</div>
	</section>

{% endblock %}
