{% extends 'base.html.twig' %}

{% block title %}Offres
{% endblock %}


{% block body %}


	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<div class="container">
		<br/>
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8">
				<div class="section-title">
					<h2>Liste des offres</h2>
				</div>
				<form class="card card-sm">
					<div class="card-body row no-gutters align-items-center">
						<div class="col-auto">
							<i class="fas fa-search h4 text-body"></i>
						</div>
						<!--end of col-->
						<div class="col">
							<input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Rechercher une offre">
						</div>
						<!--end of col-->
						<div class="col-auto">
							<button class="btn btn-lg btn-recherche" type="submit">Rechercher</button>
						</div>
						<!--end of col-->
					</div>
				</form>
			</div>
			<!--end of col-->
		</div>
	</div>
	{# {% for item in items %} #}
	<section id="about" class="about">
		<div class="container">

			<div class="row no-gutters">

				<div class="col-lg-6 d-flex flex-column justify-content-center about-content">

					<div class="section-title">
						<h2>Offre blabla</h2>
						<p>résumer de l'offre
							<br>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ea dolor, quia laudantium ullam iusto officiis consectetur odio obcaecati vero ex sed distinctio, molestiae modi laborum sit corrupti maiores eum.
							<br>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit accusamus nemo doloribus esse in dolorem vero commodi culpa eum laudantium magni, officia enim repudiandae autem quisquam omnis quaerat odio magnam?
							<br>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, labore! Exercitationem voluptatibus numquam cumque corrupti! Veritatis inventore commodi sapiente voluptatum. Quisquam architecto, totam commodi dolore impedit corrupti. Nam, debitis soluta!
							<br>
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat repellendus assumenda, reiciendis dolore quia libero illo architecto magnam necessitatibus? Molestiae nulla aspernatur enim impedit ducimus illum harum voluptatem, sunt est.
						</p>
					</div>
				</div>

				<div class="col-lg-6 video-box">
					<img src="assets/images/about.png" class="img-fluid" alt="">
				</div>

			</div>
		</div>

	</div>
</section>
{# {% endfor %} #}{% endblock %}
