{% extends 'base.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a href="#membres">Membres</a></li>
        <li class="tab col s6"><a href="#contenu">Contenu</a></li>
      </ul>
    </div>
  </div></div>
{% endblock %}
