<div id="modalMentionsLegales" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="center-align modal-title">Mentions Légales</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h5>Hébergeur</h5>
				Le présent site est hébergé par la société OVH.
				<br/>
				OVH SAS, Société par Actions Simplifiée ayant son siège social au 2 rue Kellermann - 59100 Roubaix - France, immatriculée sous le numéro RCS Lille 424 761 419 00045.
				<a class="blue-text" href="https://www.ovh.com">www.ovh.com</a><br/>
				Numéro TVA : FR 22 424 761 419
				<br/>

				<h5>Publication</h5>
				La publication du présent site sont assurées par l'association LES DECORES EN ACTION.
				<br/>
				<h5>Edition</h5>
				Le présent site est créé par ARPIÆ.
				<br/>
				<a href="http://www.arpiae.com/" class="blue-text">www.arpiae.com</a>
				<br/>
				<h5>Contact</h5>
				La S.M.L.H. Béarn et Soule.
				<br/>
				Propriété intellectuelle
				<br/>
				Conformément à l'article L122-4 du Code de la Propriété intellectuelle : Toute reproduction, représentation, traduction, adaptation, ou citation qu’elle soit intégrale ou partielle, quelqu’en soit le procédé, est strictement interdite sans autorisation expresse de l'association LES DECORES EN ACTION. Les marques citées sont la propriété de leurs détenteurs respectifs.
				<br/>
				<br/>
				Le 06 Mai 2019
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>

<footer
	class="page-footer navy-blue">


	<!-- Footer Links -->
	<div class="container-fluid text-center text-md-left">
		<div class="float-right logo-down"><img class="logo" alt="logo" src="{{ asset('assets/images/logo.png') }}"/></div>
		<div class="float-right logo-down">
			<a href="https://simplon.co/"><img alt="logo" class="simplon" title="Simplon" src="{{ asset('assets/images/simplon.jpg') }}"/></a>
		</div>
		<div class="float-left logo-down">
			<a href="http://www.smlh.fr/"><img alt="logo" class="smlh" src="{{ asset('assets/images/SMLH.jpg') }}"/></a>
		</div>

		<!-- Grid row -->
		<div
			class="row">


			<!-- Copyright -->

			<div class="footer-copyright text-center py-3">
				<a href class="footer-copyright" onclick="$('#modalMentionsLegales').modal('show');">
					© Copyright © Décorés en action 2020
				</a>
			</div>

			<!-- Copyright -->

		</footer>
		<!-- Footer -->
