 <footer class="page-footer navy-blue">
	

<!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
 <div class="float-right logo-down"><img alt="logo" src="{{ asset('assets/images/logo.png') }}"/></div>
	<div class="float-right logo-down"><a href="https://simplon.co/"><img alt="logo" title="Simplon" src="{{ asset('assets/images/simplon.jpg') }}"/></a></div>
	<div class="float-left logo-down"><a href="http://www.smlh.fr/"><img alt="logo" src="{{ asset('assets/images/SMLH.jpg') }}"/></a></div>
	
    <!-- Grid row -->
    <div class="row">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© Copyright © Décorés en action 2020
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->